<h1>Listing manufacturing_techniques</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturing_techniques.each do |manufacturing_technique| %>
  <tr>
    <td><%= manufacturing_technique.name %></td>
    <td><%= manufacturing_technique.description %></td>
    <td><%= link_to 'Show', manufacturing_technique %></td>
    <td><%= link_to 'Edit', edit_manufacturing_technique_path(manufacturing_technique) %></td>
    <td><%= link_to 'Destroy', manufacturing_technique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacturing technique', new_manufacturing_technique_path %>
