<article>
  <header>
    <h1><%= t 'artists.title' %></h1>
  </header>
  <section class="row-fluid">
    <% @artists.each do |artist| %>
    <div class="media">
      <%= link_to image_tag(artist.foto.thumb.to_s, :class => 'media-object'), artist, :class => 'pull-left' %>
      <div class="media-body">
        <h4><%= artist.name %></h4>
        <p><%= raw artist.biography %></p>
      </div>
    </div>
    <% end %>
  </section>
</article>
<% if user_signed_in? %>
<%= link_to 'New Artist', new_artist_path %>
<% end %>