<article class="list">
  <header>
    <h1><%= t 'artists.title' %></h1>
  </header>
  <section class="row-fluid">
    <% @artists.each do |artist| %>
    <div class="media">
      <%= link_to image_tag(artist.foto.thumb.to_s, :class => 'media-object'), artist, :class => 'pull-left' %>
      <div class="media-body">
        <h4><%= artist.name %></h4>
        <div class="bio"><%= raw artist.biography %></div>
      </div>
    </div>
    <% end %>
  </section>
</article>
<% if is_admin %>
<%= link_to 'New Artist', new_artist_path %>
<% end %>