<article>
  <header>
    <h1><%= @artist.name %></h1>
  </header>
  <section class="row-fluid">
    <div class="span5">
      <figure>
        <%= image_tag @artist.foto.to_s, alt: @artist.name %>
      </figure>
      <hr>
      <div class="thumbs">
        <h3><%= t 'artist.recent_handcrafts' %>
        <% 3.times do %>
        <ul class="thumbnails">
          <% 3.times do %>
          <li class="span4"><a><%= image_tag @artist.foto.thumb.to_s, alt: @artist.name %></a></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="span7">
      <h3><%= t 'artist.about_me' %></h3>
      <div class="well">
        <%= raw @artist.biography %>
      </div>
      <h3><%= t 'artist.other_info' %></h3>
      <div class="well well-small">
        <dl class="dl-horizontal">
          <dt><%= t('artist.business_name') %></dt>
          <dd><%= @artist.business_name %></dd>
          <dt><%= t('artist.address') %></dt>
          <dd><%= @artist.address %></dd>
          <dt><%= t('artist.phone') %></dt>
          <dd><%= @artist.phone %></dd>
          <dt><%= t('artist.email') %></dt>
          <dd><%= mail_to @artist.email, nil, :encode => 'hex' %></dd>
        </dl>
        <% url = "https://maps.google.com.mx/?ie=UTF8&ll=#{@artist.latitude},#{@artist.longitud}&spn=0.758125,0.877533&t=h&z=10&output=embed" %>
        <iframe width="100%" height="200" src="<%= url %>"></iframe>
      </div>
      <div class="mutted">
        <% @artist.techniques.each do |t| %>
          <%= link_to t.name, @t, :class => 'btn' %>
        <% end %>
      </div>
    </div>
  </section>
</article>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_artist_path(@artist) %> | <%= link_to 'Back', artists_path %>
<% end %>