<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Business name:</b>
  <%= @artist.business_name %>
</p>

<p>
  <b>Address:</b>
  <%= @artist.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @artist.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @artist.email %>
</p>

<p>
  <b>Foto:</b>
  <%= @artist.foto %>
</p>

<p>
  <b>Latitude:</b>
  <%= @artist.latitude %>
</p>

<p>
  <b>Longitud:</b>
  <%= @artist.longitud %>
</p>

<p>
  <b>Location:</b>
  <%= @artist.location %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Techniques:</b>
  <ul>
  <% @artist.techniques.each do |t| %>
  <li><%= t.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
