<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Business name:</b>
  <%= @artist.business_name %>
</p>

<p>
  <b>Address:</b>
  <%= @artist.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @artist.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @artist.email %>
</p>

<p>
  <b>Foto:</b>
  <%= @artist.foto %>
</p>

<p>
  <b>Geolocation:</b>
  <% url = "https://maps.google.com.mx/?ie=UTF8&ll=#{@artist.latitude},#{@artist.longitud}&spn=0.758125,0.877533&t=h&z=10&output=embed" %>
  <iframe width="225" height="150" src="<%= url %>"></iframe>
</p>

<p>
  <b>Location:</b>
  <%= @artist.location %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Techniques:</b>
  <ul>
  <% @artist.techniques.each do |t| %>
  <li><%= t.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
