<p id="notice"><%= notice %></p>

<div id="left-column">
  <!-- Artist photo -->
  <p>
    <% if @artist.foto %>
      <%= image_tag @artist.foto %>
    <% end %>
  </p>

  <!-- Artist handcrafts -->
  <p>
    <% @artist.handcrafts.each do |h| %>
      <%= h.name %>
    <% end %>
  </p>
</div>

<div id="right-column">
  <!-- Artist biography -->
  <p>
    <%= @artist.biography %>
  </p>

  <!-- Techniques, manufacturing techniques -->
  <p>
    <% if @artist.techniques %>
      <ul>
	<% @artist.techniques.each do |t| %>
	  <li><%= t.name %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @artist.manufacturing_techniques %>
      <ul>
	<% @artist.manufacturing_techniques.each do |mt| %>
	  <li><%= mt.name %></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <!-- Geolocation -->
  <p>
    <%= @artist.latitude %>,
    <%= @artist.longitude %>
  </p>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
