<%= form_for @handcraft, html: {multipart: true} do |f| %>
  <% if @handcraft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handcraft.errors.count, "error") %> prohibited this handcraft from being saved:</h2>

      <ul>
      <% @handcraft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_name %><br />
    <%= f.text_field :artist_name, data: {autocomplete_source: artists_path} %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :depth %><br />
    <%= f.text_field :depth %>
  </div>
  <div class="field">
    <%= f.label :highlight %><br />
    <%= f.check_box :highlight %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div id="tag_cloud">
    <% tag_cloud Handcraft.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :techniques_tokens %><br />
    <%= f.text_field :techniques_tokens, data: {pre: @handcraft.techniques.map(&:attributes).to_json } %>
  </div>
  <div class="field">
    <%= f.label :materials_tokens %><br />
    <%= f.text_field :materials_tokens, data: {pre: @handcraft.materials.map(&:attributes).to_json } %>
  </div>
  <div class="field">
    <%= f.label :manufacturing_techniques_tokens %><br />
    <%= f.text_field :manufacturing_techniques_tokens, data: {pre: @handcraft.manufacturing_techniques.map(&:attributes).to_json } %>
  </div>

  <!-- Photos -->
  <%= f.fields_for :photos do |p| %>
    <%= render 'photo_fields', f: p %>
  <% end %>

  <div class="field">
    <%= link_to_add_fields "Add Photo", f, :photos %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
