<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @handcraft.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @handcraft.artist.name %>
</p>

<p>
  <b>Description:</b>
  <%= @handcraft.description %>
</p>

<p>
  <b>Weight:</b>
  <%= @handcraft.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @handcraft.height %>
</p>

<p>
  <b>Width:</b>
  <%= @handcraft.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @handcraft.depth %>
</p>

<p>
  <b>Highlight:</b>
  <%= @handcraft.highlight %>
</p>

<p>
  <b>Status:</b>
  <%= @handcraft.status %>
</p>

<% unless @handcraft.techniques.empty? %>
  <p>
    <b>Techniques:</b>
    <% @handcraft.techniques.each do |t| %>
      <%= t.name %>
    <% end %>
  </p>
<% end %>

<% unless @handcraft.materials.empty? %>
  <p>
    <b>Materials:</b>
    <% @handcraft.materials.each do |m| %>
      <%= m.name %>
    <% end %>
  </p>
<% end %>

<% unless @handcraft.manufacturing_techniques.empty? %>
  <p>
    <b>Manufacturing_Techniques:</b>
    <% @handcraft.manufacturing_techniques.each do |m| %>
      <%= m.name %>
    <% end %>
  </p>
<% end %>

<% unless @handcraft.photos.empty? %>
  <p>
    <b>Photos:</b>
    <% @handcraft.photos.each do |p| %>
      <%= image_tag p.filename_url(:thumb).to_s  %>
    <% end %>
  </p>
<% end %>


<%= link_to 'Edit', edit_handcraft_path(@handcraft) %> |
<%= link_to 'Back', handcrafts_path %>
