<article class="show">
  <header>
    <h1><%= @handcraft.name %></h1>
  </header>
  <section class="row-fluid">
    <div class="span5">
      <figure id="MainImage">
        <%= image_tag @handcraft.cover_photo.filename_url.to_s, alt: @handcraft.name %>
      </figure>
      <div class="well well-small clearfix">
      <% @handcraft.photos.each do |p| %>
        <a data-src="<%= p.filename_url.to_s %>" class="thumb">
          <%= image_tag p.filename_url(:thumb).to_s  %>
        </a>
      <% end %>
      </div>
    </div>
    <div class="span6 offset1">
      <div class="well well-small">
        <strong><%= t 'handcraft.description' %></strong>
        <%= raw @handcraft.description %>
        <hr>
        <dl class="dl-horizontal">
          <dt><%= t 'handcraft.weight' %></dt>
          <dd><%= @handcraft.weight %></dd>
          <dt><%= t 'handcraft.width' %></dt>
          <dd><%= @handcraft.width %></dd>
          <dt><%= t 'handcraft.height' %></dt>
          <dd><%= @handcraft.height %></dd>
          <dt><%= t 'handcraft.depth' %></dt>
          <dd><%= @handcraft.depth %></dd>
        </dl>
        <hr>
        <strong><%= t 'handcraft.materials' %></strong>
        <% @handcraft.materials.each do |m| %>
          <%= link_to m.name, m %>
        <% end %>
        <hr>
        <strong><%= t 'handcraft.techniques' %></strong>
        <% @handcraft.techniques.each do |t| %>
          <%= link_to t.name, t %>
        <% end %>
        <hr>
        <strong><%= t 'handcraft.manufacturing_techniques' %></strong>
        <% @handcraft.manufacturing_techniques.each do |m| %>
          <%= link_to m.name, m %>
        <% end %>
      </div>
      <%= render partial: 'handcraft_artist_card' %>
    </div>
  </section>
  <div class="cache">
  <% @handcraft.photos.each do |p| %>
    <%= image_tag p.filename_url.to_s  %>
  <% end %>
  </div>
</article>
<% if is_admin %>
<%= link_to 'Edit', edit_handcraft_path(@handcraft) %> |
<%= link_to 'Back', handcrafts_path %>
<% end %>