<section class="left-column">
  <% if @handcraft.cover_photo %>
    <!-- Handcraft photo -->
    <p class="photo">
      <%= image_tag @handcraft.cover_photo.filename_url.to_s, alt: @handcraft.name %>
    </p>
  <% end %>

  <% if @handcraft.description -%>
    <!-- Handcraft description -->
    <p class="description">
      <%= @handcraft.description %>
    </p>
  <% end -%>

  <% if @handcraft.weight || @handcraft.width || @handcraft.height -%>
    <!-- Handcraft dimensions -->
    <p class="dimensions">
      <h1>Dimensions</h1>
      <ul>
	<li>Weight: <%= @handcraft.weight %></li>
	<li>Width: <%= @handcraft.width %></li>
	<li>Height: <%= @handcraft.height %></li>
      </ul>
    </p>
  <% end -%>

  <!-- Handcraft artist card -->
  <%= render partial: 'handcraft_artist_card' %>

</section>

<aside class="right-column">

  <section class="price_line" >
    <span class="price" ><%= number_to_currency(@handcraft.price) %></span>
    <%= button_to 'Add to Cart', line_items_path(handcraft_id: @handcraft) %>
  </section>

  <% unless @handcraft.materials.empty? %>
    <section>
      <header>Materials:</b>
      <% @handcraft.materials.each do |m| %>
	<%= m.name %>
      <% end %>
    </section>
  <% end %>

  <% unless @handcraft.manufacturing_techniques.empty? %>
    <p>
      <b>Manufacturing_Techniques:</b>
      <% @handcraft.manufacturing_techniques.each do |m| %>
	<%= m.name %>
      <% end %>
    </p>
  <% end %>

  <% unless @handcraft.photos.empty? %>
    <p>
      <b>Photos:</b>
      <% @handcraft.photos.each do |p| %>
	<%= image_tag p.filename_url(:thumb).to_s  %>
      <% end %>
    </p>
  <% end %>

</aside>

<nav class="footer">
<%= link_to 'Edit', edit_handcraft_path(@handcraft) %> |
<%= link_to 'Back', handcrafts_path %>
</nav>
