<article>
  <header>
    <h1><%= @material.name %></h1>
  </header>
  <section>
    <div class="well"><%= raw @material.description %></div>
    <p><strong>Origen: </strong><%= @material.state.name %></p>
  </section>
</article>
<% if is_admin %>
<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
<% end %>
