<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
  <title>ArteMexicano</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "static/modernizr-2.6.2.min" %>
</head>
<body data-spy="scroll">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">FOLKART</a>
          <ul class="nav">
            <li><a href="/artists"><%=t 'artists.title' %></a></li>
            <li><a href="/handcrafts"><%=t 'handcrafts.title' %></a></li>
          </ul>
          <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to t("user.logout"), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t("user.signup"), new_user_registration_path %></li>
            <li><%= link_to t("user.login"), new_user_session_path %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div role="main" class="container">
    <% if notice -%><p class="alert alert-info"><%= notice %></p><% end -%>
    <% if alert -%><p class="alert alert-error"><%= alert %></p><% end -%>
    <%= yield %>
  </div>
  <footer>
  </footer>
  <%= javascript_include_tag "application" %>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>
</html>
